bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
/TestResults
/.vs/DevPractice/FileContentIndex/7fe9fa68-9605-4ec5-89d8-55d89d2478d6.vsidx
/.vs/DevPractice/FileContentIndex/6bdadf1d-099f-4bb1-ba72-bb68cf686718.vsidx
/.vs/DevPractice/FileContentIndex/64c2e99c-9a6e-4f8d-bbb1-4cf11cff9aef.vsidx
/.vs/DevPractice/FileContentIndex/43696ce4-386b-4c19-a84b-8d22cd009e7a.vsidx
/.vs/DevPractice/FileContentIndex/220c6571-0ff7-4ac5-b383-3da7b62638c1.vsidx
/.vs/DevPractice/FileContentIndex/20532489-a4f9-4762-acd0-71e705fb044e.vsidx
/.vs/DevPractice/v17/TestStore/0/001.testlog
/.vs/DevPractice/DesignTimeBuild/.dtbcache.v2
/.vs/DevPractice/v17/TestStore/0/testlog.manifest
/.vs/DevPractice/v17/.futdcache.v2
/.vs/DevPractice/v17/.suo
/.vs/ProjectEvaluation/devpractice.projects.v5.2
/.vs/ProjectEvaluation/devpractice.metadata.v5.2
